<section id="hero" class="hero section dark-background">

    <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

      <div class="carousel-item active">
        <img src="/site-template/img/hero-carousel/energia solar.jpeg" alt="">
        <div class="container">
          <h2>Sol Radiante: Economia e Sustentabilidade para Você!</h2>
          <p>Economize na conta de luz e ajude o planeta! 💡☀️ Invista em energia solar e tenha autonomia, sustentabilidade e mais dinheiro no bolso. Fale conosco!</p>
          <a href="/contato" class="btn-get-started">QUERO ECONOMIZAR</a>
        </div>
      </div><!-- End Carousel Item -->

      <div class="carousel-item">
        <img src="/site-template/img/hero-carousel/trabalhador.jpeg" alt="">
        <div class="container">
          <h2>Solução Inteligente: Energia Solar para sua Casa ou Empresa!</h2>
          <p>Gere sua própria energia e economize de verdade! ☀️💰 Invista em energia solar e reduza sua conta de luz. Faça parte dessa revolução!</p>
          <a href="/sobre" class="btn-get-started">SAIBA MAIS</a>
        </div>
      </div><!-- End Carousel Item -->

      <div class="carousel-item">
        <img src="/site-template/img/hero-carousel/hero-carousel-3.jpg" alt="">
        <div class="container">
          <h2>Temporibus autem quibusdam</h2>
          <p>Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
          <a href="/servicos" class="btn-get-started">Read More</a>
        </div>
      </div><!-- End Carousel Item -->

      <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

      <ol class="carousel-indicators"></ol>

    </div>

  </section><!-- /Hero Section -->

  <!-- About Section -->
  <section id="about" class="about section">

    <div class="container">

      <div class="row position-relative">

        <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200"><img src="/site-template/img/about.jpg"></div>

        <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
          <h3 class="inner-title">Energia Solar: Sustentabilidade e Inovação</h3>
          <div class="our-story">
            <h4>SOL -RADIANTE</h4>
            <h3>Nossa História</h3>
            <p>A SOL RADIANTE é uma empresa no segmento de energia solar, nosso foco é o desenvolvimento de sistemas para geração de energia fotovoltaica. Fornecendo soluções ecônomicas e sustentáveis, proporcionando opções ideais para todos os consumidores, oferencendo a inovação, tecnologia, rapidez e segurança aos nosso clientes.</p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Redução de até 95% na conta de energia</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Sistemas sob medida para residências, comércios e indústrias</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Energia limpa, renovável e com retorno garantido</span></li>
            </ul>
            <p>A energia solar é mais do que uma solução tecnológica — é um compromisso com o futuro. Com nossos projetos, ajudamos a preservar o meio ambiente, impulsionar a economia local e promover a sustentabilidade em larga escala. Escolher energia solar é investir em liberdade energética e no planeta.</p>

            <div class="watch-video d-flex align-items-center position-relative">
              <i class="bi bi-play-circle"></i>
              <a href="https://www.youtube.com/shorts/E7lChmzJBCQ" class="glightbox stretched-link">Assista o vídeo</a>
            </div>
          </div>

        </div>

    </div>

  </section><!-- /About Section -->

  <!-- Services Section -->
  <section id="services" class="services section light-background">

    <div class="container">

      <div class="row gy-4">

                  <!-- Limpeza de Energia Solar -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item item-teal position-relative">
              <div class="icon">
                <i class="bi bi-water"></i>
              </div>
              <h3>Limpeza de Energia Solar <i class="bi bi-sun"></i></h3>

              <p>Serviço especializado na limpeza de painéis solares para garantir máxima eficiência na captação de energia e prolongar a vida útil do sistema.</p>
            </div>
          </div>

          <!-- Instalação de Energia Solar -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item item-orange position-relative">
              <div class="icon">
                <i class="bi bi-lightning-charge"></i>
              </div>
              <h3>Instalação de Energia Solar <i class="bi bi-sun"></i></h3>
              <p>Projetos personalizados de sistemas fotovoltaicos para residências, comércios e indústrias, com instalação profissional e garantia de desempenho.</p>
            </div>
          </div>

          <!-- Manutenção de Energia Solar -->
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item item-green position-relative">
              <div class="icon">
                <i class="bi bi-tools"></i>
              </div>
              <h3>Manutenção de Energia Solar <i class="bi bi-sun"></i></h3>
              <p>Diagnóstico e correção de falhas em sistemas solares, garantindo segurança, eficiência e vida útil prolongada dos equipamentos.</p>
            </div>
          </div>


      </div>

    </div>

  </section><!-- /Services Section -->

  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Serviços Realizados</h2>
      <p>Trabalhamos com eficiência, segurança e compromisso para entregar soluções de energia solar de alta qualidade.</p>
    </div><!-- End Section Title -->


    <div class="container">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">Todos</li>
          <li data-filter=".filter-app">Limpezas</li>
          <li data-filter=".filter-product">instalações</li>
        </ul><!-- End Portfolio Filters -->

        <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <img src="/site-template/img/masonry-portfolio/masonry-portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Limpeza de placas solares</h4>
              <a href="/site-template/img/masonry-portfolio/masonry-portfolio-1.jpg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="https://www.instagram.com/stories/highlights/18017700514583671/" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <img src="/site-template/img/masonry-portfolio/masonry-portfolio-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Limpeza de placas solares</h4>
              <a href="/site-template/img/masonry-portfolio/masonry-portfolio-4.jpg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="https://www.instagram.com/stories/highlights/18017700514583671/" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <img src="/site-template/img/masonry-portfolio/masonry-portfolio-7.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>limpeza de placa solares</h4>
              <a href="/site-template/img/masonry-portfolio/masonry-portfolio-7.jpg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
              <a href="https://www.instagram.com/stories/highlights/18017700514583671/" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <% listaProjetos.forEach(p => { %>
            <img src="/uploads/projetos/<%= p.imagem %>" class="img-fluid" alt="">
            <div class="portfolio-info">
              <a href="/uploads/projetos/<%= p.imagem %>" title="Product 3" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
               <a href="<%= p.descricao %>" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
            <% }) %>
          </div><!-- End Portfolio Item -->


        </div><!-- End Portfolio Container -->

      </div>

    </div>

  </section><!-- /Portfolio Section -->

  </section><!-- /Team Section -->

      <section id="testimonials" class="py-6 bg-light">
        <div class="container">
          <div class="container section-title" data-aos="fade-up">
            <h2>Clientes</h2>
            <p>Confira o que nossos clientes dizem sobre a qualidade dos nossos serviços!</p>

          </div><!-- End Section Title -->

          <!-- Carousel de feedbacks -->
          <div id="feedbackCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <!-- Slide 1 -->
              <div class="carousel-item active">
                <div class="d-flex justify-content-center gap-4">
                  <a href="/site-template/img/feedback.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><img src="/site-template/img/feedback.jpeg" class="img-fluid rounded shadow" style="max-width: 300px;" alt="Feedback 1"></a>
                  <a href="/site-template/img/feedback2.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><img src="/site-template/img/feedback2.jpeg" class="img-fluid rounded shadow" style="max-width: 300px;" alt="Feedback 2"></a>
                  <a href="/site-template/img/feedback3.jpeg" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><img src="/site-template/img/feedback3.jpeg" class="img-fluid rounded shadow" style="max-width: 300px;" alt="Feedback 2"></a>
                  
                </div>
              </div>

            <!-- Botões de navegação -->
            <button class="carousel-control-prev" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#feedbackCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Próximo</span>
            </button>
          </div>
        </div>
      </section>


  </section><!-- /Clients Section -->